# Full text extraction and dump into .txt

In [1]:

from pathlib import Path
from page_text_extractor import extract_pdf_to_txt, ExtractConfig

PDF_PATH = Path(
    "/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2002/02.pdf"
)
# By default, write alongside the PDF with same stem + .txt
OUT_PATH = PDF_PATH.with_suffix(".txt")

CFG = ExtractConfig(
    pdf_path=PDF_PATH,
    out_path=OUT_PATH,
    dpi=300,          # render resolution for OCR
    lang="eng",       # Tesseract language pack(s)
    overwrite=True,   # overwrite existing txt if present
    show_progress=True,
)
print(CFG)

# %% [markdown]
# ## 3 · Run extraction

# %%
output_txt = extract_pdf_to_txt(CFG)
print(f"✅ Saved OCR text → {output_txt}")

# %% [markdown]
# ## 4 · Preview first ~1,000 characters

# %%
preview_len = 1000
with open(output_txt, "r", encoding="utf-8") as f:
    snippet = f.read(preview_len)
print(snippet)

ExtractConfig(pdf_path=PosixPath('/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2002/02.pdf'), out_path=PosixPath('/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2002/02.txt'), dpi=300, lang='eng', overwrite=True, show_progress=True)
INFO | Opening /Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2002/02.pdf

OCR pages: 100%|██████████| 21/21 [01:06<00:00,  3.16s/page]

INFO | Wrote 21 pages → /Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2002/02.txt (43.7 KB)
✅ Saved OCR text → /Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2002/02.txt
Phyllis Schlafly Commentaries on Christian Radio

Week of February 1, 2002:

02-24 Court Puts a Lid on Nosy Questionnaires Nosy Questions
Week of February 3:
02-25 Reform Our Visa System Now Terrorism
02-26 Key Supreme Cases in 2001 EF Website
02-27 The English Language Is the Tie that Binds English Language
02-28 What Is Fuzzy Math? Education Reporter I
02-29 Constitutional Convention R.I.P. EF Brochure
Week of February 10:
02-30 More Federal Control of Education Outcome Based Education
02-31 Some Congressmen Tried to Improve the Education Law Education Video
02-32 We Need a Time-Out on Immigration Immigration
02-33 What Free Trade with China Really Means Free Trade
02-34 Pro-Gay Curricula Is Coming to a School Near You Education Reporter II
Week of February 17:
02-35 It’s George Washington’s Birthday George Washington
02-36 What’s Going On in China? Trade With China
02-37 The Birth of World Government Global Video
02-38 The Awesome Power of the Judiciary Imperial Judiciary
02-39 Geor

In [14]:
import pandas as pd

# Load the Excel file
excel_path = '/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/commindex.xlsx'
df = pd.read_excel(excel_path, header=0)

# Just print the first column (dates) and their types
for idx, val in enumerate(df.iloc[:, 0]):
    print(f"Row {idx}: {val} ({type(val)})")
    if idx > 10000:
        break  # don't print the entire thing

Row 0: 1983-10-03 00:00:00 (<class 'datetime.datetime'>)
Row 1: 1983-10-04 00:00:00 (<class 'datetime.datetime'>)
Row 2: 1983-10-05 00:00:00 (<class 'datetime.datetime'>)
Row 3: 1983-10-06 00:00:00 (<class 'datetime.datetime'>)
Row 4: 1983-10-07 00:00:00 (<class 'datetime.datetime'>)
Row 5: 1983-10-10 00:00:00 (<class 'datetime.datetime'>)
Row 6: 1983-10-11 00:00:00 (<class 'datetime.datetime'>)
Row 7: 1983-10-12 00:00:00 (<class 'datetime.datetime'>)
Row 8: 1983-10-13 00:00:00 (<class 'datetime.datetime'>)
Row 9: 1983-10-14 00:00:00 (<class 'datetime.datetime'>)
Row 10: 1983-10-17 00:00:00 (<class 'datetime.datetime'>)
Row 11: 1983-10-18 00:00:00 (<class 'datetime.datetime'>)
Row 12: 1983-10-19 00:00:00 (<class 'datetime.datetime'>)
Row 13: 1983-10-20 00:00:00 (<class 'datetime.datetime'>)
Row 14: 1983-10-21 00:00:00 (<class 'datetime.datetime'>)
Row 15: 1983-10-24 00:00:00 (<class 'datetime.datetime'>)
Row 16: 1983-10-25 00:00:00 (<class 'datetime.datetime'>)
Row 17: 1983-10-26 00:00:00 (<class 'datetime.datetime'>)
Row 18: 1983-10-27 00:00:00 (<class 'datetime.datetime'>)
Row 19: 1983-10-28 00:00:00 (<class 'datetime.datetime'>)
Row 20: 1983-10-31 00:00:00 (<class 'datetime.datetime'>)
Row 21: 1983-11-01 00:00:00 (<class 'datetime.datetime'>)
Row 22: 1983-11-02 00:00:00 (<class 'datetime.datetime'>)
Row 23: 1983-11-03 00:00:00 (<class 'datetime.datetime'>)
Row 24: 1983-11-04 00:00:00 (<class 'datetime.datetime'>)
Row 25: 1983-11-07 00:00:00 (<class 'datetime.datetime'>)
Row 26: 1983-11-08 00:00:00 (<class 'datetime.datetime'>)
Row 27: 1983-11-09 00:00:00 (<class 'datetime.datetime'>)
Row 28: 1983-11-10 00:00:00 (<class 'datetime.datetime'>)
Row 29: 1983-11-11 00:00:00 (<class 'datetime.datetime'>)
Row 30: 1983-11-14 00:00:00 (<class 'datetime.datetime'>)
Row 31: 1983-11-15 00:00:00 (<class 'datetime.datetime'>)
Row 32: 1983-11-16 00:00:00 (<class 'datetime.datetime'>)
Row 33: 1983-11-17 00:00:00 (<class 'datetime.datetime'>)
Row 34: 1983-11-18 00:00:00 (<class 'datetime.datetime'>)
Row 35: 1983-11-21 00:00:00 (<class 'datetime.datetime'>)
Row 36: 1983-11-22 00:00:00 (<class 'datetime.datetime'>)
Row 37: 1983-11-23 00:00:00 (<class 'datetime.datetime'>)
Row 38: 1983-11-24 00:00:00 (<class 'datetime.datetime'>)
Row 39: 1983-11-25 00:00:00 (<class 'datetime.datetime'>)
Row 40: 1983-11-28 00:00:00 (<class 'datetime.datetime'>)
Row 41: 1983-11-29 00:00:00 (<class 'datetime.datetime'>)
Row 42: 1983-11-30 00:00:00 (<class 'datetime.datetime'>)
Row 43: 1983-12-01 00:00:00 (<class 'datetime.datetime'>)
Row 44: 1983-12-02 00:00:00 (<class 'datetime.datetime'>)
Row 45: 1983-12-05 00:00:00 (<class 'datetime.datetime'>)
Row 46: 1983-12-06 00:00:00 (<class 'datetime.datetime'>)
Row 47: 1983-12-07 00:00:00 (<class 'datetime.datetime'>)
Row 48: 1983-12-08 00:00:00 (<class 'datetime.datetime'>)
Row 49: 1983-12-09 00:00:00 (<class 'datetime.datetime'>)
Row 50: 1983-12-12 00:00:00 (<class 'datetime.datetime'>)
Row 51: 1983-12-13 00:00:00 (<class 'datetime.datetime'>)
Row 52: 1983-12-14 00:00:00 (<class 'datetime.datetime'>)
Row 53: 1983-12-15 00:00:00 (<class 'datetime.datetime'>)
Row 54: 1983-12-16 00:00:00 (<class 'datetime.datetime'>)
Row 55: 1983-12-19 00:00:00 (<class 'datetime.datetime'>)
Row 56: 1983-12-20 00:00:00 (<class 'datetime.datetime'>)
Row 57: 1983-12-21 00:00:00 (<class 'datetime.datetime'>)
Row 58: 1983-12-22 00:00:00 (<class 'datetime.datetime'>)
Row 59: 1983-12-23 00:00:00 (<class 'datetime.datetime'>)
Row 60: 1983-12-26 00:00:00 (<class 'datetime.datetime'>)
Row 61: 1983-12-27 00:00:00 (<class 'datetime.datetime'>)
Row 62: 1983-12-28 00:00:00 (<class 'datetime.datetime'>)
Row 63: 1983-12-29 00:00:00 (<class 'datetime.datetime'>)
Row 64: 1983-12-30 00:00:00 (<class 'datetime.datetime'>)
Row 65: 1984-01-02 00:00:00 (<class 'datetime.datetime'>)
Row 66: 1984-01-03 00:00:00 (<class 'datetime.datetime'>)
Row 67: 1984-01-04 00:00:00 (<class 'datetime.datetime'>)
Row 68: 1984-01-05 00:00:00 (<class 'datetime.datetime'>)
Row 69: 1984-01-06 00:00:00 (<class 'datetime.datetime'>)
Row 70: 1984-01-09 00:00:00 (<class 'datetime.datetime'>)
Row 71: 1984-01-10 00:00:00 (<class 'datetime.datetime'>)
Row 72: 1984-01-11 00:00:00 (<class 'datetime.datetime'>)
Row 73: 1984-01-12 00:00:00 (<class 'datetime.datetime'>)
Row 74: 1984-01-13 00:00:00 (<class 'datetime.datetime'>)
Row 75: 1984-01-16 00:00:00 (<class 'datetime.datetime'>)
Row 76: 1984-01-17 00:00:00 (<class 'datetime.datetime'>)
Row 77: 1984-01-18 00:00:00 (<class 'datetime.datetime'>)
Row 78: 1984-01-19 00:00:00 (<class 'datetime.datetime'>)
Row 79: 1984-01-20 00:00:00 (<class 'datetime.datetime'>)
Row 80: 1984-01-23 00:00:00 (<class 'datetime.datetime'>)
Row 81: 1984-01-24 00:00:00 (<class 'datetime.datetime'>)
Row 82: 1984-01-25 00:00:00 (<class 'datetime.datetime'>)
Row 83: 1984-01-26 00:00:00 (<class 'datetime.datetime'>)
Row 84: 1984-01-27 00:00:00 (<class 'datetime.datetime'>)
Row 85: 1984-01-30 00:00:00 (<class 'datetime.datetime'>)
Row 86: 1984-01-31 00:00:00 (<class 'datetime.datetime'>)
Row 87: 1984-02-01 00:00:00 (<class 'datetime.datetime'>)
Row 88: 1984-02-02 00:00:00 (<class 'datetime.datetime'>)
Row 89: 1984-02-03 00:00:00 (<class 'datetime.datetime'>)
Row 90: 1984-02-06 00:00:00 (<class 'datetime.datetime'>)
Row 91: 1984-02-07 00:00:00 (<class 'datetime.datetime'>)
Row 92: 1984-02-08 00:00:00 (<class 'datetime.datetime'>)
Row 93: 1984-02-09 00:00:00 (<class 'datetime.datetime'>)
Row 94: 1984-02-10 00:00:00 (<class 'datetime.datetime'>)
Row 95: 1984-02-13 00:00:00 (<class 'datetime.datetime'>)
Row 96: 1984-02-14 00:00:00 (<class 'datetime.datetime'>)
Row 97: 1984-02-15 00:00:00 (<class 'datetime.datetime'>)
Row 98: 1984-02-16 00:00:00 (<class 'datetime.datetime'>)
Row 99: 1984-02-17 00:00:00 (<class 'datetime.datetime'>)
Row 100: 1984-02-20 00:00:00 (<class 'datetime.datetime'>)
Row 101: 1984-02-21 00:00:00 (<class 'datetime.datetime'>)
Row 102: 1984-02-22 00:00:00 (<class 'datetime.datetime'>)
Row 103: 1984-02-23 00:00:00 (<class 'datetime.datetime'>)
Row 104: 1984-02-24 00:00:00 (<class 'datetime.datetime'>)
Row 105: 1984-02-27 00:00:00 (<class 'datetime.datetime'>)
Row 106: 1984-02-28 00:00:00 (<class 'datetime.datetime'>)
Row 107: 1984-02-29 00:00:00 (<class 'datetime.datetime'>)
Row 108: 1984-03-01 00:00:00 (<class 'datetime.datetime'>)
Row 109: 1984-03-02 00:00:00 (<class 'datetime.datetime'>)
Row 110: 1984-03-05 00:00:00 (<class 'datetime.datetime'>)
Row 111: 1984-03-06 00:00:00 (<class 'datetime.datetime'>)
Row 112: 1984-03-07 00:00:00 (<class 'datetime.datetime'>)
Row 113: 1984-03-08 00:00:00 (<class 'datetime.datetime'>)
Row 114: 1984-03-09 00:00:00 (<class 'datetime.datetime'>)
Row 115: 1984-03-12 00:00:00 (<class 'datetime.datetime'>)
Row 116: 1984-03-13 00:00:00 (<class 'datetime.datetime'>)
Row 117: 1984-03-14 00:00:00 (<class 'datetime.datetime'>)
Row 118: 1984-03-15 00:00:00 (<class 'datetime.datetime'>)
Row 119: 1984-03-16 00:00:00 (<class 'datetime.datetime'>)
Row 120: 1984-03-19 00:00:00 (<class 'datetime.datetime'>)
Row 121: 1984-03-20 00:00:00 (<class 'datetime.datetime'>)
Row 122: 1984-03-21 00:00:00 (<class 'datetime.datetime'>)
Row 123: 1984-03-22 00:00:00 (<class 'datetime.datetime'>)
Row 124: 1984-03-23 00:00:00 (<class 'datetime.datetime'>)
Row 125: 1984-03-26 00:00:00 (<class 'datetime.datetime'>)
Row 126: 1984-03-27 00:00:00 (<class 'datetime.datetime'>)
Row 127: 1984-03-28 00:00:00 (<class 'datetime.datetime'>)
Row 128: 1984-03-29 00:00:00 (<class 'datetime.datetime'>)
Row 129: 1984-03-30 00:00:00 (<class 'datetime.datetime'>)
Row 130: 1984-04-02 00:00:00 (<class 'datetime.datetime'>)
Row 131: 1984-04-03 00:00:00 (<class 'datetime.datetime'>)
Row 132: 1984-04-04 00:00:00 (<class 'datetime.datetime'>)
Row 133: 1984-04-05 00:00:00 (<class 'datetime.datetime'>)
Row 134: 1984-04-06 00:00:00 (<class 'datetime.datetime'>)
Row 135: 1984-04-09 00:00:00 (<class 'datetime.datetime'>)
Row 136: 1984-04-10 00:00:00 (<class 'datetime.datetime'>)
Row 137: 1984-04-11 00:00:00 (<class 'datetime.datetime'>)
Row 138: 1984-04-12 00:00:00 (<class 'datetime.datetime'>)
Row 139: 1984-04-13 00:00:00 (<class 'datetime.datetime'>)
Row 140: 1984-04-16 00:00:00 (<class 'datetime.datetime'>)
Row 141: 1984-04-17 00:00:00 (<class 'datetime.datetime'>)
Row 142: 1984-04-18 00:00:00 (<class 'datetime.datetime'>)
Row 143: 1984-04-19 00:00:00 (<class 'datetime.datetime'>)
Row 144: 1984-04-20 00:00:00 (<class 'datetime.datetime'>)
Row 145: 1984-04-23 00:00:00 (<class 'datetime.datetime'>)
Row 146: 1984-04-24 00:00:00 (<class 'datetime.datetime'>)
Row 147: 1984-04-25 00:00:00 (<class 'datetime.datetime'>)
Row 148: 1984-04-26 00:00:00 (<class 'datetime.datetime'>)
Row 149: 1984-04-27 00:00:00 (<class 'datetime.datetime'>)
Row 150: 1984-04-30 00:00:00 (<class 'datetime.datetime'>)
Row 151: 1984-05-01 00:00:00 (<class 'datetime.datetime'>)
Row 152: 1984-05-02 00:00:00 (<class 'datetime.datetime'>)
Row 153: 1984-05-03 00:00:00 (<class 'datetime.datetime'>)
Row 154: 1984-05-04 00:00:00 (<class 'datetime.datetime'>)
Row 155: 1984-05-07 00:00:00 (<class 'datetime.datetime'>)
Row 156: 1984-05-08 00:00:00 (<class 'datetime.datetime'>)
Row 157: 1984-05-09 00:00:00 (<class 'datetime.datetime'>)
Row 158: 1984-05-10 00:00:00 (<class 'datetime.datetime'>)
Row 159: 1984-05-11 00:00:00 (<class 'datetime.datetime'>)
Row 160: 1984-05-14 00:00:00 (<class 'datetime.datetime'>)
Row 161: 1984-05-15 00:00:00 (<class 'datetime.datetime'>)
Row 162: 1984-05-16 00:00:00 (<class 'datetime.datetime'>)
Row 163: 1984-05-17 00:00:00 (<class 'datetime.datetime'>)
Row 164: 1984-05-18 00:00:00 (<class 'datetime.datetime'>)
Row 165: 1984-05-21 00:00:00 (<class 'datetime.datetime'>)
Row 166: 1984-05-22 00:00:00 (<class 'datetime.datetime'>)
Row 167: 1984-05-23 00:00:00 (<class 'datetime.datetime'>)
Row 168: 1984-05-24 00:00:00 (<class 'datetime.datetime'>)
Row 169: 1984-05-25 00:00:00 (<class 'datetime.datetime'>)
Row 170: 1984-05-28 00:00:00 (<class 'datetime.datetime'>)
Row 171: 1984-05-29 00:00:00 (<class 'datetime.datetime'>)
Row 172: 1984-05-30 00:00:00 (<class 'datetime.datetime'>)
Row 173: 1984-05-31 00:00:00 (<class 'datetime.datetime'>)
Row 174: 1984-06-01 00:00:00 (<class 'datetime.datetime'>)
Row 175: 1984-06-04 00:00:00 (<class 'datetime.datetime'>)
Row 176: 1984-06-05 00:00:00 (<class 'datetime.datetime'>)
Row 177: 1984-06-06 00:00:00 (<class 'datetime.datetime'>)
Row 178: 1984-06-07 00:00:00 (<class 'datetime.datetime'>)
Row 179: 1984-06-08 00:00:00 (<class 'datetime.datetime'>)
Row 180: 1984-06-11 00:00:00 (<class 'datetime.datetime'>)
Row 181: 1984-06-12 00:00:00 (<class 'datetime.datetime'>)
Row 182: 1984-06-13 00:00:00 (<class 'datetime.datetime'>)
Row 183: 1984-06-14 00:00:00 (<class 'datetime.datetime'>)
Row 184: 1984-06-15 00:00:00 (<class 'datetime.datetime'>)
Row 185: 1984-06-18 00:00:00 (<class 'datetime.datetime'>)
Row 186: 1984-06-19 00:00:00 (<class 'datetime.datetime'>)
Row 187: 1984-06-20 00:00:00 (<class 'datetime.datetime'>)
Row 188: 1984-06-21 00:00:00 (<class 'datetime.datetime'>)
Row 189: 1984-06-22 00:00:00 (<class 'datetime.datetime'>)
Row 190: 1984-06-25 00:00:00 (<class 'datetime.datetime'>)
Row 191: 1984-06-26 00:00:00 (<class 'datetime.datetime'>)
Row 192: 1984-06-27 00:00:00 (<class 'datetime.datetime'>)
Row 193: 1984-06-28 00:00:00 (<class 'datetime.datetime'>)
Row 194: 1984-06-29 00:00:00 (<class 'datetime.datetime'>)
Row 195: 1984-07-02 00:00:00 (<class 'datetime.datetime'>)
Row 196: 1984-07-03 00:00:00 (<class 'datetime.datetime'>)
Row 197: 1984-07-04 00:00:00 (<class 'datetime.datetime'>)
Row 198: 1984-07-05 00:00:00 (<class 'datetime.datetime'>)
Row 199: 1984-07-06 00:00:00 (<class 'datetime.datetime'>)
Row 200: 1984-07-09 00:00:00 (<class 'datetime.datetime'>)
Row 201: 1984-07-10 00:00:00 (<class 'datetime.datetime'>)
Row 202: 1984-07-11 00:00:00 (<class 'datetime.datetime'>)
Row 203: 1984-07-12 00:00:00 (<class 'datetime.datetime'>)
Row 204: 1984-07-13 00:00:00 (<class 'datetime.datetime'>)
Row 205: 1984-07-16 00:00:00 (<class 'datetime.datetime'>)
Row 206: 1984-07-17 00:00:00 (<class 'datetime.datetime'>)
Row 207: 1984-07-18 00:00:00 (<class 'datetime.datetime'>)
Row 208: 1984-07-19 00:00:00 (<class 'datetime.datetime'>)
Row 209: 1984-07-20 00:00:00 (<class 'datetime.datetime'>)
Row 210: 1984-07-23 00:00:00 (<class 'datetime.datetime'>)
Row 211: 1984-07-24 00:00:00 (<class 'datetime.datetime'>)
Row 212: 1984-07-25 00:00:00 (<class 'datetime.datetime'>)
Row 213: 1984-07-26 00:00:00 (<class 'datetime.datetime'>)
Row 214: 1984-07-27 00:00:00 (<class 'datetime.datetime'>)
Row 215: 1984-07-30 00:00:00 (<class 'datetime.datetime'>)
Row 216: 1984-07-31 00:00:00 (<class 'datetime.datetime'>)
Row 217: 1984-08-01 00:00:00 (<class 'datetime.datetime'>)
Row 218: 1984-08-02 00:00:00 (<class 'datetime.datetime'>)
Row 219: 1984-08-03 00:00:00 (<class 'datetime.datetime'>)
Row 220: 1984-08-06 00:00:00 (<class 'datetime.datetime'>)
Row 221: 1984-08-07 00:00:00 (<class 'datetime.datetime'>)
Row 222: 1984-08-08 00:00:00 (<class 'datetime.datetime'>)
Row 223: 1984-08-09 00:00:00 (<class 'datetime.datetime'>)
Row 224: 1984-08-10 00:00:00 (<class 'datetime.datetime'>)
Row 225: 1984-08-13 00:00:00 (<class 'datetime.datetime'>)
Row 226: 1984-08-14 00:00:00 (<class 'datetime.datetime'>)
Row 227: 1984-08-15 00:00:00 (<class 'datetime.datetime'>)
Row 228: 1984-08-16 00:00:00 (<class 'datetime.datetime'>)
Row 229: 1984-08-17 00:00:00 (<class 'datetime.datetime'>)
Row 230: 1984-08-20 00:00:00 (<class 'datetime.datetime'>)
Row 231: 1984-08-21 00:00:00 (<class 'datetime.datetime'>)
Row 232: 1984-08-22 00:00:00 (<class 'datetime.datetime'>)
Row 233: 1984-08-23 00:00:00 (<class 'datetime.datetime'>)
Row 234: 1984-08-24 00:00:00 (<class 'datetime.datetime'>)
Row 235: 1984-08-27 00:00:00 (<class 'datetime.datetime'>)
Row 236: 1984-08-28 00:00:00 (<class 'datetime.datetime'>)
Row 237: 1984-08-29 00:00:00 (<class 'datetime.datetime'>)
Row 238: 1984-08-30 00:00:00 (<class 'datetime.datetime'>)
Row 239: 1984-08-31 00:00:00 (<class 'datetime.datetime'>)
Row 240: 1984-09-03 00:00:00 (<class 'datetime.datetime'>)
Row 241: 1984-09-04 00:00:00 (<class 'datetime.datetime'>)
Row 242: 1984-09-05 00:00:00 (<class 'datetime.datetime'>)
Row 243: 1984-09-06 00:00:00 (<class 'datetime.datetime'>)
Row 244: 1984-09-07 00:00:00 (<class 'datetime.datetime'>)
Row 245: 1984-09-10 00:00:00 (<class 'datetime.datetime'>)
Row 246: 1984-09-11 00:00:00 (<class 'datetime.datetime'>)
Row 247: 1984-09-12 00:00:00 (<class 'datetime.datetime'>)
Row 248: 1984-09-13 00:00:00 (<class 'datetime.datetime'>)
Row 249: 1984-09-14 00:00:00 (<class 'datetime.datetime'>)
Row 250: 1984-09-17 00:00:00 (<class 'datetime.datetime'>)
Row 251: 1984-09-18 00:00:00 (<class 'datetime.datetime'>)
Row 252: 1984-09-19 00:00:00 (<class 'datetime.datetime'>)
Row 253: 1984-09-20 00:00:00 (<class 'datetime.datetime'>)
Row 254: 1984-09-21 00:00:00 (<class 'datetime.datetime'>)
Row 255: 1984-09-24 00:00:00 (<class 'datetime.datetime'>)
Row 256: 1984-09-25 00:00:00 (<class 'datetime.datetime'>)
Row 257: 1984-09-26 00:00:00 (<class 'datetime.datetime'>)
Row 258: 1984-09-27 00:00:00 (<class 'datetime.datetime'>)
Row 259: 1984-09-28 00:00:00 (<class 'datetime.datetime'>)
Row 260: 1984-10-01 00:00:00 (<class 'datetime.datetime'>)
Row 261: 1984-10-02 00:00:00 (<class 'datetime.datetime'>)
Row 262: 1984-10-03 00:00:00 (<class 'datetime.datetime'>)
Row 263: 1984-10-04 00:00:00 (<class 'datetime.datetime'>)
Row 264: 1984-10-05 00:00:00 (<class 'datetime.datetime'>)
Row 265: 1984-10-08 00:00:00 (<class 'datetime.datetime'>)
Row 266: 1984-10-09 00:00:00 (<class 'datetime.datetime'>)
Row 267: 1984-10-10 00:00:00 (<class 'datetime.datetime'>)
Row 268: 1984-10-11 00:00:00 (<class 'datetime.datetime'>)
Row 269: 1984-10-12 00:00:00 (<class 'datetime.datetime'>)
Row 270: 1984-10-15 00:00:00 (<class 'datetime.datetime'>)
Row 271: 1984-10-16 00:00:00 (<class 'datetime.datetime'>)
Row 272: 1984-10-17 00:00:00 (<class 'datetime.datetime'>)
Row 273: 1984-10-18 00:00:00 (<class 'datetime.datetime'>)
Row 274: 1984-10-19 00:00:00 (<class 'datetime.datetime'>)
Row 275: 1984-10-22 00:00:00 (<class 'datetime.datetime'>)
Row 276: 1984-10-23 00:00:00 (<class 'datetime.datetime'>)
Row 277: 1984-10-24 00:00:00 (<class 'datetime.datetime'>)
Row 278: 1984-10-25 00:00:00 (<class 'datetime.datetime'>)
Row 279: 1984-10-26 00:00:00 (<class 'datetime.datetime'>)
Row 280: 1984-10-29 00:00:00 (<class 'datetime.datetime'>)
Row 281: 1984-10-30 00:00:00 (<class 'datetime.datetime'>)
Row 282: 1984-10-31 00:00:00 (<class 'datetime.datetime'>)
Row 283: 1984-11-01 00:00:00 (<class 'datetime.datetime'>)
Row 284: 1984-11-02 00:00:00 (<class 'datetime.datetime'>)
Row 285: 1984-11-05 00:00:00 (<class 'datetime.datetime'>)
Row 286: 1984-11-06 00:00:00 (<class 'datetime.datetime'>)
Row 287: 1984-11-07 00:00:00 (<class 'datetime.datetime'>)
Row 288: 1984-11-08 00:00:00 (<class 'datetime.datetime'>)
Row 289: 1984-11-09 00:00:00 (<class 'datetime.datetime'>)
Row 290: 1984-11-12 00:00:00 (<class 'datetime.datetime'>)
Row 291: 1984-11-13 00:00:00 (<class 'datetime.datetime'>)
Row 292: 1984-11-14 00:00:00 (<class 'datetime.datetime'>)
Row 293: 1984-11-15 00:00:00 (<class 'datetime.datetime'>)
Row 294: 1984-11-16 00:00:00 (<class 'datetime.datetime'>)
Row 295: 1984-11-19 00:00:00 (<class 'datetime.datetime'>)
Row 296: 1984-11-20 00:00:00 (<class 'datetime.datetime'>)
Row 297: 1984-11-21 00:00:00 (<class 'datetime.datetime'>)
Row 298: 1984-11-22 00:00:00 (<class 'datetime.datetime'>)
Row 299: 1984-11-23 00:00:00 (<class 'datetime.datetime'>)
Row 300: 1984-11-26 00:00:00 (<class 'datetime.datetime'>)
Row 301: 1984-11-27 00:00:00 (<class 'datetime.datetime'>)
Row 302: 1984-11-28 00:00:00 (<class 'datetime.datetime'>)
Row 303: 1984-11-29 00:00:00 (<class 'datetime.datetime'>)
Row 304: 1984-11-30 00:00:00 (<class 'datetime.datetime'>)
Row 305: 1984-12-03 00:00:00 (<class 'datetime.datetime'>)
Row 306: 1984-12-04 00:00:00 (<class 'datetime.datetime'>)
Row 307: 1984-12-05 00:00:00 (<class 'datetime.datetime'>)
Row 308: 1984-12-06 00:00:00 (<class 'datetime.datetime'>)
Row 309: 1984-12-07 00:00:00 (<class 'datetime.datetime'>)
Row 310: 1984-12-10 00:00:00 (<class 'datetime.datetime'>)
Row 311: 1984-12-11 00:00:00 (<class 'datetime.datetime'>)
Row 312: 1984-12-12 00:00:00 (<class 'datetime.datetime'>)
Row 313: 1984-12-13 00:00:00 (<class 'datetime.datetime'>)
Row 314: 1984-12-14 00:00:00 (<class 'datetime.datetime'>)
Row 315: 1984-12-17 00:00:00 (<class 'datetime.datetime'>)
Row 316: 1984-12-18 00:00:00 (<class 'datetime.datetime'>)
Row 317: 1984-12-19 00:00:00 (<class 'datetime.datetime'>)
Row 318: 1984-12-20 00:00:00 (<class 'datetime.datetime'>)
Row 319: 1984-12-21 00:00:00 (<class 'datetime.datetime'>)
Row 320: 1984-12-24 00:00:00 (<class 'datetime.datetime'>)
Row 321: 1984-12-25 00:00:00 (<class 'datetime.datetime'>)
Row 322: 1984-12-26 00:00:00 (<class 'datetime.datetime'>)
Row 323: 1984-12-27 00:00:00 (<class 'datetime.datetime'>)
Row 324: 1984-12-28 00:00:00 (<class 'datetime.datetime'>)
Row 325: 1984-12-31 00:00:00 (<class 'datetime.datetime'>)
Row 326: 1985-01-01 00:00:00 (<class 'datetime.datetime'>)
Row 327: 1985-01-02 00:00:00 (<class 'datetime.datetime'>)
Row 328: 1985-01-03 00:00:00 (<class 'datetime.datetime'>)
Row 329: 1985-01-04 00:00:00 (<class 'datetime.datetime'>)
Row 330: 1985-01-07 00:00:00 (<class 'datetime.datetime'>)
Row 331: 1985-01-08 00:00:00 (<class 'datetime.datetime'>)
Row 332: 1985-01-09 00:00:00 (<class 'datetime.datetime'>)
Row 333: 1985-01-10 00:00:00 (<class 'datetime.datetime'>)
Row 334: 1985-01-11 00:00:00 (<class 'datetime.datetime'>)
Row 335: 1985-01-14 00:00:00 (<class 'datetime.datetime'>)
Row 336: 1985-01-15 00:00:00 (<class 'datetime.datetime'>)
Row 337: 1985-01-16 00:00:00 (<class 'datetime.datetime'>)
Row 338: 1985-01-17 00:00:00 (<class 'datetime.datetime'>)
Row 339: 1985-01-18 00:00:00 (<class 'datetime.datetime'>)

# Create year .json

In [24]:
import pandas as pd
import json

# === CONFIGURATION ===
excel_path = '/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/commindex.xlsx'
target_year = 2013
output_json_path = f'/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/{target_year}.json'

# Load correct sheet
df = pd.read_excel(excel_path)

entries = []

for idx, row in df.iterrows():
    raw_date = row.iloc[0]  # Column A (Date)
    title = str(row.iloc[2]).strip()  # Column C (Title)

    try:
        # Let pandas auto-parse the date
        parsed_date = pd.to_datetime(raw_date, errors='coerce')

        if pd.isna(parsed_date):
            continue  # skip unparsable

        if parsed_date.year == target_year:
            formatted_date = parsed_date.strftime('%m-%d-%Y')
            entry = {
                "metadata": {
                    "title": title,
                    "speaker": "Phyllis Schlafly",
                    "date": formatted_date
                },
                "text": ""
            }
            entries.append(entry)

    except Exception as e:
        print(f"Row {idx} skipped due to error: {e}")

# Write to JSON
with open(output_json_path, 'w') as f:
    json.dump(entries, f, indent=4)

print(f"✅ Saved {len(entries)} entries to {output_json_path}")

✅ Saved 261 entries to /Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2013.json

# For doing a whole month text and inserting into .json

In [6]:
import json
from pathlib import Path
import fitz  # PyMuPDF
from PIL import Image
import pytesseract

def render_page(page, dpi=300):
    zoom = dpi / 72
    mat = fitz.Matrix(zoom, zoom)
    pix = page.get_pixmap(matrix=mat, alpha=False)
    mode = "RGB" if pix.n < 4 else "RGBA"
    return Image.frombytes(mode, [pix.width, pix.height], pix.samples)

def ocr_page(page, dpi=300, lang="eng"):
    img = render_page(page, dpi)
    return pytesseract.image_to_string(img, lang=lang).strip()

def update_json_with_ocr(pdf_path: Path, json_path: Path, month: int, dpi=300, lang="eng"):
    # Step 1: Load JSON
    with open(json_path, "r", encoding="utf-8") as f:
        data = json.load(f)

    # Step 2: Filter entries for this month
    month_str = f"{month:02d}"
    monthly_entries = [entry for entry in data if entry["metadata"]["date"].startswith(month_str)]

    # Step 3: Open PDF and extract text page-by-page (skip index)
    doc = fitz.open(pdf_path)
    total_pages = doc.page_count
    expected_count = total_pages - 1  # page 0 is index

    if len(monthly_entries) != expected_count:
        raise ValueError(f"Mismatch: {len(monthly_entries)} JSON entries but {expected_count} PDF pages (excluding index).")

    for i in range(1, total_pages):  # skip first page (index)
        page = doc.load_page(i)
        ocr_text = ocr_page(page, dpi=dpi, lang=lang)
        monthly_entries[i - 1]["text"] = ocr_text  # match order

    # Step 4: Write back full updated JSON
    with open(json_path, "w", encoding="utf-8") as f:
        json.dump(data, f, indent=4)

    print(f"✅ Updated {len(monthly_entries)} entries for month {month_str} in {json_path.name}")


# === USAGE ===

pdf_path = Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2002/10.pdf")
json_path = Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2002.json")
target_month = 10

update_json_with_ocr(pdf_path, json_path, month=target_month)

✅ Updated 23 entries for month 10 in 2002.json

# For Skipping Pages

In [7]:
def update_json_with_ocr(
    pdf_path: Path,
    json_path: Path,
    month: int,
    dpi=300,
    lang="eng",
    skip_pages: list[int] = None
):
    if skip_pages is None:
        skip_pages = []

    # Step 1: Load JSON
    with open(json_path, "r", encoding="utf-8") as f:
        data = json.load(f)

    # Step 2: Filter entries for this month
    month_str = f"{month:02d}"
    monthly_entries = [entry for entry in data if entry["metadata"]["date"].startswith(month_str)]

    # Step 3: Open PDF and extract text, skipping index + any skipped pages
    doc = fitz.open(pdf_path)
    total_pages = doc.page_count

    # Build the list of usable pages
    usable_pages = [i for i in range(1, total_pages) if i not in skip_pages]

    if len(monthly_entries) != len(usable_pages):
        raise ValueError(
            f"Mismatch: {len(monthly_entries)} JSON entries but {len(usable_pages)} usable PDF pages "
            f"(after skipping index and custom skip_pages)."
        )

    for json_index, pdf_page_index in enumerate(usable_pages):
        page = doc.load_page(pdf_page_index)
        ocr_text = ocr_page(page, dpi=dpi, lang=lang)
        monthly_entries[json_index]["text"] = ocr_text

    # Step 4: Write back full updated JSON
    with open(json_path, "w", encoding="utf-8") as f:
        json.dump(data, f, indent=4)

    print(f"✅ Updated {len(monthly_entries)} entries for month {month_str} in {json_path.name} (skipped pages: {skip_pages})")

In [10]:
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2002/12.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2002.json"),
    month=12,
    skip_pages=[18]
)

✅ Updated 21 entries for month 12 in 2002.json (skipped pages: [18])

In [13]:
# update_json_with_ocr(
#     pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2003/01.pdf"),
#     json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2003.json"),
#     month=1,
#     skip_pages=[]
# )

# update_json_with_ocr(
#     pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2003/02.pdf"),
#     json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2003.json"),
#     month=2,
#     skip_pages=[]
# )

update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2003/03.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2003.json"),
    month=3,
    skip_pages=[]
)

update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2003/04.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2003.json"),
    month=4,
    skip_pages=[]
)

update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2003/05.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2003.json"),
    month=5,
    skip_pages=[]
)

update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2003/07.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2003.json"),
    month=7,
    skip_pages=[]
)

update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2003/08.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2003.json"),
    month=8,
    skip_pages=[]
)

update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2003/09.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2003.json"),
    month=9,
    skip_pages=[]
)

update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2003/10.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2003.json"),
    month=10,
    skip_pages=[]
)

update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2003/11.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2003.json"),
    month=11,
    skip_pages=[]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2003/12.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2003.json"),
    month=12,
    skip_pages=[]
)

✅ Updated 14 entries for month 03 in 2003.json (skipped pages: [])
✅ Updated 22 entries for month 04 in 2003.json (skipped pages: [])
✅ Updated 22 entries for month 05 in 2003.json (skipped pages: [])
✅ Updated 23 entries for month 07 in 2003.json (skipped pages: [])
✅ Updated 21 entries for month 08 in 2003.json (skipped pages: [])
✅ Updated 22 entries for month 09 in 2003.json (skipped pages: [])
✅ Updated 23 entries for month 10 in 2003.json (skipped pages: [])
✅ Updated 19 entries for month 11 in 2003.json (skipped pages: [])
✅ Updated 23 entries for month 12 in 2003.json (skipped pages: [])

In [15]:
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2004/01.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2004.json"),
    month=1,
    skip_pages=[]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2004/02.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2004.json"),
    month=2,
    skip_pages=[]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2004/03.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2004.json"),
    month=3,
    skip_pages=[]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2004/04.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2004.json"),
    month=4,
    skip_pages=[]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2004/05.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2004.json"),
    month=5,
    skip_pages=[21]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2004/06.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2004.json"),
    month=6,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2004/07.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2004.json"),
    month=7,
    skip_pages=[13]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2004/08.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2004.json"),
    month=8,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2004/09.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2004.json"),
    month=9,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2004/10.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2004.json"),
    month=10,
    skip_pages=[21]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2004/11.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2004.json"),
    month=11,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2004/12.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2004.json"),
    month=12,
    skip_pages=[24]
)

✅ Updated 22 entries for month 01 in 2004.json (skipped pages: [])
✅ Updated 20 entries for month 02 in 2004.json (skipped pages: [])
✅ Updated 23 entries for month 03 in 2004.json (skipped pages: [])
✅ Updated 21 entries for month 04 in 2004.json (skipped pages: [])
✅ Updated 20 entries for month 05 in 2004.json (skipped pages: [21])
✅ Updated 22 entries for month 06 in 2004.json (skipped pages: [23])
✅ Updated 12 entries for month 07 in 2004.json (skipped pages: [13])
✅ Updated 22 entries for month 08 in 2004.json (skipped pages: [23])
✅ Updated 22 entries for month 09 in 2004.json (skipped pages: [23])
✅ Updated 20 entries for month 10 in 2004.json (skipped pages: [21])
✅ Updated 22 entries for month 11 in 2004.json (skipped pages: [23])
✅ Updated 23 entries for month 12 in 2004.json (skipped pages: [24])

In [17]:
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2005/01.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2005.json"),
    month=1,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2005/02.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2005.json"),
    month=2,
    skip_pages=[21]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2005/03.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2005.json"),
    month=3,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2005/04.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2005.json"),
    month=4,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2005/05.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2005.json"),
    month=5,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2005/06.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2005.json"),
    month=6,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2005/07.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2005.json"),
    month=7,
    skip_pages=[]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2005/08.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2005.json"),
    month=8,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2005/09.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2005.json"),
    month=9,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2005/10.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2005.json"),
    month=10,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2005/11.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2005.json"),
    month=11,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2005/12.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2005.json"),
    month=12,
    skip_pages=[10,11,25]
)

✅ Updated 21 entries for month 01 in 2005.json (skipped pages: [22])
✅ Updated 20 entries for month 02 in 2005.json (skipped pages: [21])
✅ Updated 23 entries for month 03 in 2005.json (skipped pages: [24])
✅ Updated 21 entries for month 04 in 2005.json (skipped pages: [22])
✅ Updated 22 entries for month 05 in 2005.json (skipped pages: [23])
✅ Updated 22 entries for month 06 in 2005.json (skipped pages: [23])
✅ Updated 21 entries for month 07 in 2005.json (skipped pages: [])
✅ Updated 23 entries for month 08 in 2005.json (skipped pages: [24])
✅ Updated 22 entries for month 09 in 2005.json (skipped pages: [23])
✅ Updated 21 entries for month 10 in 2005.json (skipped pages: [22])
✅ Updated 22 entries for month 11 in 2005.json (skipped pages: [23])
✅ Updated 22 entries for month 12 in 2005.json (skipped pages: [10, 11, 25])

In [19]:
#2006
# update_json_with_ocr(
#     pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2006/01.pdf"),
#     json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2006.json"),
#     month=1,
#     skip_pages=[23]
# )
# update_json_with_ocr(
#     pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2006/02.pdf"),
#     json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2006.json"),
#     month=2,
#     skip_pages=[21]
# )
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2006/03.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2006.json"),
    month=3,
    skip_pages=[]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2006/04.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2006.json"),
    month=4,
    skip_pages=[21]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2006/05.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2006.json"),
    month=5,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2006/06.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2006.json"),
    month=6,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2006/07.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2006.json"),
    month=7,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2006/08.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2006.json"),
    month=8,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2006/09.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2006.json"),
    month=9,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2006/10.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2006.json"),
    month=10,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2006/11.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2006.json"),
    month=11,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2006/12.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2006.json"),
    month=12,
    skip_pages=[22]
)

✅ Updated 14 entries for month 03 in 2006.json (skipped pages: [])
✅ Updated 20 entries for month 04 in 2006.json (skipped pages: [21])
✅ Updated 23 entries for month 05 in 2006.json (skipped pages: [24])
✅ Updated 22 entries for month 06 in 2006.json (skipped pages: [23])
✅ Updated 21 entries for month 07 in 2006.json (skipped pages: [22])
✅ Updated 23 entries for month 08 in 2006.json (skipped pages: [24])
✅ Updated 21 entries for month 09 in 2006.json (skipped pages: [22])
✅ Updated 22 entries for month 10 in 2006.json (skipped pages: [23])
✅ Updated 22 entries for month 11 in 2006.json (skipped pages: [23])
✅ Updated 21 entries for month 12 in 2006.json (skipped pages: [22])

In [20]:
#2007
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2007/01.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2007.json"),
    month=1,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2007/02.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2007.json"),
    month=2,
    skip_pages=[21]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2007/03.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2007.json"),
    month=3,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2007/04.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2007.json"),
    month=4,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2007/05.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2007.json"),
    month=5,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2007/06.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2007.json"),
    month=6,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2007/07.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2007.json"),
    month=7,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2007/08.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2007.json"),
    month=8,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2007/09.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2007.json"),
    month=9,
    skip_pages=[21]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2007/10.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2007.json"),
    month=10,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2007/11.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2007.json"),
    month=11,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/2007/12.pdf"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2007.json"),
    month=12,
    skip_pages=[22]
)

✅ Updated 23 entries for month 01 in 2007.json (skipped pages: [24])
✅ Updated 20 entries for month 02 in 2007.json (skipped pages: [21])
✅ Updated 22 entries for month 03 in 2007.json (skipped pages: [23])
✅ Updated 21 entries for month 04 in 2007.json (skipped pages: [22])
✅ Updated 23 entries for month 05 in 2007.json (skipped pages: [24])
✅ Updated 21 entries for month 06 in 2007.json (skipped pages: [22])
✅ Updated 22 entries for month 07 in 2007.json (skipped pages: [23])
✅ Updated 23 entries for month 08 in 2007.json (skipped pages: [24])
✅ Updated 20 entries for month 09 in 2007.json (skipped pages: [21])
✅ Updated 23 entries for month 10 in 2007.json (skipped pages: [24])
✅ Updated 22 entries for month 11 in 2007.json (skipped pages: [23])
✅ Updated 21 entries for month 12 in 2007.json (skipped pages: [22])

In [25]:
#2008 DONE
yy = "08"
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/01.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=1,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/02.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=2,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/03.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=3,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/04.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=4,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/05.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=5,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/06.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=6,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/07.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=7,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/08.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=8,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/09.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=9,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/10.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=10,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/11.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=11,
    skip_pages=[21]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/12.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=12,
    skip_pages=[24]
)

✅ Updated 23 entries for month 01 in 2008.json (skipped pages: [24])
✅ Updated 21 entries for month 02 in 2008.json (skipped pages: [22])
✅ Updated 21 entries for month 03 in 2008.json (skipped pages: [22])
✅ Updated 22 entries for month 04 in 2008.json (skipped pages: [23])
✅ Updated 22 entries for month 05 in 2008.json (skipped pages: [23])
✅ Updated 21 entries for month 06 in 2008.json (skipped pages: [22])
✅ Updated 23 entries for month 07 in 2008.json (skipped pages: [24])
✅ Updated 21 entries for month 08 in 2008.json (skipped pages: [22])
✅ Updated 22 entries for month 09 in 2008.json (skipped pages: [23])
✅ Updated 23 entries for month 10 in 2008.json (skipped pages: [24])
✅ Updated 20 entries for month 11 in 2008.json (skipped pages: [21])
✅ Updated 23 entries for month 12 in 2008.json (skipped pages: [24])

In [ ]:
#2009
yy = "09"
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/01.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=1,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/02.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=2,
    skip_pages=[21]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/03.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=3,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/04.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=4,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/05.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=5,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/06.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=6,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/07.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=7,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/08.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=8,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/09.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=9,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/10.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=10,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/11.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=11,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/12.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=12,
    skip_pages=[24]
)

In [ ]:
#2010
yy = "10"
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/01.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=1,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/02.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=2,
    skip_pages=[21]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/03.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=3,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/04.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=4,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/05.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=5,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/06.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=6,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/07.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=7,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/08.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=8,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/09.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=9,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/10.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=10,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/11.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=11,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/12.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=12,
    skip_pages=[24]
)

In [ ]:
#2011
yy = "11"
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/01.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=1,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/02.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=2,
    skip_pages=[21]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/03.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=3,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/04.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=4,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/05.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=5,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/06.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=6,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/07.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=7,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/08.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=8,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/09.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=9,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/10.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=10,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/11.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=11,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/12.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=12,
    skip_pages=[23]
)

In [ ]:
#2012
yy = "12"
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/01.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=1,
    skip_pages=[1,18,20,26]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/02.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=2,
    skip_pages=[1,23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/03.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=3,
    skip_pages=[1,24]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/04.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=4,
    skip_pages=[1,23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/05.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=5,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/06.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=6,
    skip_pages=[22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/07.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=7,
    skip_pages=[23]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/08.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=8,
    skip_pages=[20,21,22,27]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/09.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=9,
    skip_pages=[4,22]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/10.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=10,
    skip_pages=[24]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/11.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=11,
    skip_pages=[20,24]
)
update_json_with_ocr(
    pdf_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/code/data/raw/comm/20{yy}/12.pdf"),
    json_path=Path(f"/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/20{yy}.json"),
    month=12,
    skip_pages=[22]
)

# For .docx text extraction

In [ ]:
from pathlib import Path
import json
import fitz  # PyMuPDF
from PIL import Image
import pytesseract
from docx import Document


def render_page(page, dpi=300):
    zoom = dpi / 72
    mat = fitz.Matrix(zoom, zoom)
    pix = page.get_pixmap(matrix=mat, alpha=False)
    mode = "RGB" if pix.n < 4 else "RGBA"
    return Image.frombytes(mode, [pix.width, pix.height], pix.samples)

def ocr_page(page, dpi=300, lang="eng"):
    img = render_page(page, dpi)
    return pytesseract.image_to_string(img, lang=lang).strip()

def extract_texts_from_pdf(pdf_path: Path, skip_pages: list[int], dpi=300, lang="eng"]) -> list[str]:
    doc = fitz.open(pdf_path)
    return [
        ocr_page(doc.load_page(i), dpi=dpi, lang=lang)
        for i in range(1, doc.page_count)
        if i not in skip_pages
    ]

def extract_texts_from_docx(docx_path: Path, skip_pages: list[int]) -> list[str]:
    doc = Document(docx_path)
    # We'll treat each paragraph as a "page" for now unless we detect page breaks
    all_paragraphs = [p.text.strip() for p in doc.paragraphs if p.text.strip()]
    usable = [p for i, p in enumerate(all_paragraphs) if i not in skip_pages]
    return usable

def update_json_with_texts(
    file_path: Path,
    json_path: Path,
    month: int,
    dpi=300,
    lang="eng",
    skip_pages: list[int] = None
):
    if skip_pages is None:
        skip_pages = []

    # Load JSON
    with open(json_path, "r", encoding="utf-8") as f:
        data = json.load(f)

    month_str = f"{month:02d}"
    monthly_entries = [entry for entry in data if entry["metadata"]["date"].startswith(month_str)]

    # Extract text based on file type
    if file_path.suffix.lower() == ".pdf":
        extracted_texts = extract_texts_from_pdf(file_path, skip_pages=skip_pages, dpi=dpi, lang=lang)
    elif file_path.suffix.lower() == ".docx":
        extracted_texts = extract_texts_from_docx(file_path, skip_pages=skip_pages)
    else:
        raise ValueError(f"Unsupported file type: {file_path.suffix}")

    if len(monthly_entries) != len(extracted_texts):
        raise ValueError(
            f"Mismatch: {len(monthly_entries)} JSON entries vs. {len(extracted_texts)} text blocks from {file_path.name}"
        )

    # Insert text into JSON
    for entry, text in zip(monthly_entries, extracted_texts):
        entry["text"] = text

    with open(json_path, "w", encoding="utf-8") as f:
        json.dump(data, f, indent=4)

    print(f"✅ Updated {len(monthly_entries)} entries from {file_path.name} → {json_path.name}")

In [ ]:
update_json_with_texts(
    file_path=Path("/Users/mason/Desktop/comm/2002/03.docx"),
    json_path=Path("/Users/mason/Desktop/Technical_Projects/PYTHON_Projects/PSAI/chunks/commentaries/2002.json"),
    month=3,
    skip_pages=[7]  # skips the 8th paragraph/page-equivalent
)